BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "o_LED" SITE "45" ;
LOCATE COMP "i_switch" SITE "50" ;
IOBUF PORT "o_LED" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "i_switch" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
LOCATE COMP "i_clk" SITE "21" ;
IOBUF PORT "i_clk" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "o_LED_2" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
LOCATE COMP "o_LED_2" SITE "46" ;
